<div class="col-lg-6 col-lg-offset-3 jumbotron" *ngIf='identity'>
  <h1 class="h1-strong">{{title}}</h1>
  <div class="col-lg-12 text-center">
    <input type="file"  id="profile-photo" class="inputfile" style="display:none" (change)="fileChangeEvent($event)"/>
    <label for="profile-photo">
      <div style="cursor:pointer">
        <img *ngIf="identity.image"  class="circle-img" width="200px" height="200px" src="{{url+'get-image-user/'+identity.image}}"/>
        <img *ngIf="!identity.image"  class="circle-img" width="200px" height="200px" src="{{url+'get-icon/camera.png'}}"/>
      </div>
      <span>Editar foto de perfil&hellip;</span>
    </label>
  </div>
  <div class=" alert alert-success" *ngIf="status=='success'">
    Exito en la actualización! <a href="home">Sigue salvando vidas</a>
  </div>
  <div class=" alert alert-danger" *ngIf="status=='error'">
    No se han podido actualizar tus datos.
  </div>
  <div class="alert alert-info" *ngIf="userEditForm.touched && (!name.valid || !surname.valid || !email.valid)">
    <ul>
      <li *ngIf="!name.valid && name.touched">
        <strong>Warning!: </strong> El nombre no puede ser un campo vacio
      </li>
      <li *ngIf="!surname.valid && surname.touched">
        <strong>Warning!: </strong> Los apellidos no puede ser un campo vacio
      </li>
      <li *ngIf="!email.valid && email.touched">
        <strong>Warning!: </strong> Email no valido (Esto puede ser por cuestiones de escritura, revisa bien tu correo).
      </li>
    </ul>
  </div>
  <form #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)" class="col-lg-8 col-lg-offset-2">
    <p>
      <label>Nombre:</label>
      <input type="text" class="form-control" name="#name" #name="ngModel" [(ngModel)]="user.name" required/>
    </p>
    <p>
      <label>Apellidos:</label>
      <input type="text" class="form-control" name="#surname" #surname="ngModel" [(ngModel)]="user.surname" required/>
    </p>
    <p>
      <label>Nickname:</label>
      <input type="text" class="form-control" name="#nickname" #nickname="ngModel" [(ngModel)]="user.nickname"/>
    </p>
    <p>
      <label>Correo electronico:</label>
      <input type="email" class="form-control" name="#email" #email="ngModel" [(ngModel)]="user.email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
    </p>
    <div class="btn-group" style="float:right">
      <button type="button" class="btn btn-danger" onclick="location.href = 'home';">Cancelar  <span class="glyphicon glyphicon-trash"></span></button>
      <button type="submit" class="btn btn-success" [disabled]="!userEditForm.valid">Guardar  <span class="glyphicon glyphicon-floppy-disk"></span></button>
    </div>
  </form>
</div>
