/* You can add global styles to this file, and also import other style files */
.circle-img{
  object-fit: cover;
  border-radius: 50%;
  border: 0;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
